"""

"""


def solve(input: str):
    pass


assert solve() is None


with open("{{ _copier_answers.year }}/{{ '{:0>2}'.format(_copier_answers.day) }}_{{ _copier_answers.task|slugify(separator='_') }}/input.txt") as f:
    print(solve(f.read()))
